# Core scientific/ML libraries
numpy
pandas
scikit-learn
matplotlib
seaborn

# Dashboard and web app
streamlit

# ML models
xgboost==3.0.4
catboost==1.2.8

# Flask (for API endpoints if needed)
Flask==3.1.2

# Utilities
joblib==1.5.1
plotly==6.3.0
graphviz==0.21
